* {
    margin: 0;
    padding: 0;
}

body {
    font: 0.88em Tahoma, sans-serif;
    color: #333;
}

body.rs-margin-10-20 {
    margin: 10px 20px;

}

a {
    color: #2A6496;
}

hr {
    border: medium none;
    border-bottom: 1px solid #E5E5E5;
}

input, select, textarea{
    font-size: 0.8em;
    color: #555;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    padding: 2px;
}

font[color=red] {
    color: #D44950;
}

font[color=blue] {
    color: #2A6496;
}

.rs-table-replacement {;
    background-color: #FBFCFF;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
}

.rs-table-replacement td {
    border: medium none;
}

.rs-table-replacement .rs-table-header {
    color: #2A6496;
    text-align: left !important;
    font-size: large;
}

.rs-table-replacement td {
    padding: 3px 15px;
}

/**************** buttons ******************/
input[type=submit] {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    font-size: 0.88em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3276b1;
    border-color: #285e8e;
}

input[type=file] {
    padding: 1px;
}

a.rs-button {
    background-color: #428BCA;
    border: 1px solid #357EBD;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.88em;
    height: 17px;
    text-decoration: none;
    padding: 3px 5px;
    white-space: nowrap;
}

a.rs-continue-button {
    background-image: url("images/icons/play.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-attachment: scroll;
    padding: 3px 30px 3px 5px;
}

a.rs-button:hover {
    background-color: #3276b1;
    border-color: #285e8e;
}

input.rs-search-btn {
    background-image: url("images/icons/search.png");
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    padding: 3px 30px 3px 5px;
}
a.rs-search-btn {
    margin-left: 0px;
    margin-bottom: 10px;
    background-image: url("images/icons/search.png");
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    padding: 3px 30px 3px 5px;
    display: inline-block;
}

a.rs-stat-btn{
    background-image: url("images/icons/graph.png");
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    padding: 3px 30px 3px 5px;
}

input.rs-print-btn{
    background-image: url("images/icons/printer.png");
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    padding: 3px 30px 3px 5px;
}
input.rs-table-btn {
    background-image: url("images/icons/pics_alt.png");
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    padding: 3px 30px 3px 5px;
}

input.rs-call-btn{
    background-image: url("images/icons/phone.png");
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    padding: 3px 30px 3px 5px;
}

input.rs-make-current-btn{
    background-image: url("images/icons/tick.png");
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    padding: 3px 30px 3px 5px;
}
a.rs-report-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/page.png");
}

input.rs-report-btn{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/page.png");
}

a.rs-export-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/export_box.png");
}

a.rs-comments-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/bubble_clear.png");
}

a.rs-money-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/money.png");
}
a.rs-stage-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/target_point.png");
}

a.rs-phone-load-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
}

a.rs-mutht-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
}
a.rs-amount-art-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
}

a.rs-raund-border2{
    background-color: white;
    border: 1px solid #f0f7fd;
    border-radius: 2px 2px 2px 2px;
    color: #2A6496;
    cursor: pointer;
    font-size: 0.88em;
    height: 17px;
    text-decoration: none;
    padding: 3px 5px;
}
a.rs-raund-border2:hover {
    background-color: #f0f7fd;
    border-color: #bfe5e8;

}

input.rs-save-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/card.png");
}
input.rs-change-btn{
    display: inline-block;
    margin-bottom: 0px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/tickbox.png");
}
input.rs-changeclient-btn{
    display: inline-block;
    margin-bottom: 0px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/user_clear.png");
}
a.rs-adress-btn{
    display: inline-block;
    margin-bottom: 0px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/repeat.png");
}

input.rs-add-btn{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/page_add.png");
}

a.rs-delete-btn{
    display: inline-block;
    margin-bottom: 0px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/page_remove.png");
}
input.rs-close-btn{
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/download_arrow.png");
}
a.rs-multiply-btn{
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/plus_light_alt.png");
}
input.rs-message-btn{
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 3px 30px 3px 5px;
    background-attachment: scroll;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/mail_dark.png");
}


input.rs-eject-button{
    padding: 3px 15px;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("images/icons/eject.png");
}
/*************** buttons end ********************/

/************ main page nav table ********/
.rs-split-page-nav {
    border: medium none;
    border-collapse: collapse;
    margin: 120px auto 0;
}

.rs-split-page-nav td {
    border: medium none;
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.rs-split-page-nav th {
    display: none;
}

.rs-split-page-nav caption {
    display: none;
}

.rs-split-page-nav tr {
    clear: both;
    display: block;
}

.rs-split-page-nav tr td:first-child {
    float: right;
}

.rs-split-page-nav td strong {
    font-weight: normal;
    line-height: 1.8em;
    padding: 3px 5px;
}



/************ main page nav table end********/
/************ page left top nav ********/
center.rs-main-nav {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 20px 10px;
    text-align: left;
    margin: 0 -20px 10px;
}

center.rs-main-nav a {
    text-decoration: none;
    color: #2a6496;
    line-height: 1.8em;
    border-radius: 3px 3px 3px 3px;
    padding: 3px 5px;
    white-space: nowrap;
}

center.rs-main-nav a:hover {
    background-color: #EEEEEE;
}

center.rs-main-nav a:active {
    background-color: #428bca;
    color: #fff;
}

center.rs-main-nav hr {
    border: 0 none;
}

/************ left top nav end********/
.rs-search-form {
    border: 1px solid #DDDDDD;
    background-color: #FBFCFF;
    width: 100%;
}

.rs-table-header {
    background-color: #f0f7fd;
    border: 1px solid #DDDDDD;
}

.rs-search-form .rs-table-header td {
    padding-left: 15px;
    text-align: left;
    color: #2A6496;
}

.rs-search-form td {
    padding: 5px 15px;
    border: medium none;
    max-width: 520px;
}

.results {
    color: #555555;
    font-size: 0.8em;
}

select[name=selOPassVar_ID] {
    width: 234px;
}
select.rs-w-250 {
    min-width: 250px;
    max-width: 80%;
}

#ord_contr, #cust_id{
    margin-bottom: 10px;
}
.results li span {
    border-bottom: 1px dashed #555555 !important;
}

#house {
    font-size: 0.8em;
    color: #555555;
    width: 46px;
}

input#prefix {
    clear: right;
}

input[name=sel_byTotalLight] {
    margin-top: 10px;
}

input[name=sel_byTotalSuperLight] {
    float: left;
}

input[name=sel_byTotalTable] {
    margin-top: 10px;
    float: left;
}

input[name=sel_Prozvonka] {
    margin-top: 10px;
    float: right;
}

input[name=sel_MassClose] {
    margin-top: 10px;
    float: right;
}

input[name=sel_byTotal] {
    float: right;
}

#buildings li {
    display: block;
    float: left;
    width: 10em;
}

#buildings {
    display: none;
    padding: 1em;
    background: white;
    position: absolute;
    border: 1px solid gray;
}

.rs-statistics {
    border: 1px solid #DDDDDD;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #FBFCFF;
    width: 100%;
}

.rs-statistics td {
    border: medium none;
    padding: 5px 15px;
}

.rs-statistics .rs-table-header {
    color: #2A6496;
    padding-left: 15px;
    text-align: left !important;;
}

.rs-width205{
    width: 205px;
}
center.rs-main-title {
    margin: 60px auto 0;
    max-width: 1170px;
}

center.rs-main-title font:first-child {
    font-size: 5em;
    color: #2A6496;
}

center.rs-main-title hr {
    border: medium none;
}

center.rs-main-title font {
    color: #3A74A6;
}

p.rs-user-info {
    position: absolute;
    right: 10%;
    top: 20px;
}

p.rs-mai-description {
    text-align: center;
    color: #3A74A6;
}

font.rs-current-scheme {
    color: #333333;
    font-size: 0.8em;
    font-weight: bold;
}
/************ form: information about request********/

center.rs-info-query{
    padding: 1px;
}
.rs-queryInfo-mainHeader{
    background-color: #f0f7fd;
    padding: 3px;
    font: 1.4em Tahoma, sans-serif;
    line-height: 2;
    text-decoration: none;
}

center.rs-info-query font[color=red] {
    color: #ffa704;
}
.rs-queryInfo-afterHeader{
    font: 1.2em Tahoma, sans-serif;
    line-height: 1.5;
}

center.rs-info-query strong{
    font-weight:normal;

}

.rs-query-info{
    border: medium none;
    border: 1px solid #DDDDDD;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #FBFCFF;
    color: black;
    width:100%;
}

.rs-query-info font[color=red] {
    color: #ffa704;
}
.rs-query-info td:nth-child(odd){
    width:22%;
}
.rs-query-info td:nth-child(even){
    width:78%;
}
.rs-query-info td {
    padding: 5px 15px;
    border: none;
    text-align: left;
}
.rs-query-info tr{
    padding: 5px 15px;

    max-width: 820px;
}
.rs-query-info font{
    font: 1.08em Tahoma, sans-serif;
    color: black;
    text-decoration: none;
}

.rs-query-info strong{
    font-weight: normal;
    font: 1.08em Tahoma, sans-serif;
}

.rs-query-info i{
    font-style: normal;
}

.rs-query-info b{
    font-weight: normal;
}
.rs-query-info select{
    margin-left: 2px;
}
input[name=Order_ContractNumber]{
    width:140px;
}
#TComm{
    text-align: left;
    width: 100%;
    background-color: white;
}
.rs-teh-comment{
    border:none;
    background-color: white;
    padding: 0px;
    text-align: left;

}
.rs-teh-comment td[bgcolor=lightgreen]{
    background-color: #fff;
}

.rs-teh-comment a{
    display:inline-block;
    padding: 5px 7px;
    white-space: nowrap;
    text-decoration: none;
    height: inherit;
    color: #2a6496;
    height: 100%;
}
.rs-teh-comment a:hover{
    background-color: #f0f7fd;
}
.rs-teh-comment td{
    padding: 0;
    margin: 0;
}
.rs-teh-comment #t1{
    width:5%;
    text-align: left;
}
.rs-teh-comment #t2{
    width:15%;
    text-align: left;
}
.rs-teh-comment #t3{
    width: 5%;
    text-align: left;
}
.rs-teh-comment #t4{
    width:5%;
    text-align: left;
}
.rs-teh-comment #t5{
    width:60%;
    text-align: left;
}
#t1[bgcolor=lightgreen]
{
    background-color: #f0f7fd;
}
#t2[bgcolor=lightgreen]
{
    background-color: #f0f7fd;
}
#t3[bgcolor=lightgreen]
{
    background-color: #f0f7fd;
}
#t4[bgcolor=lightgreen]
{
    background-color: #f0f7fd;
}
#t5[bgcolor=lightgreen]
{
    background-color: #f0f7fd;
}
.rs-margintopbottom5{
    margin-top: 5px;
    margin-bottom: 5px;
}
input.rs-displblock{
    display:block
}
a.rs-displblock{
    display: block;
}

.rs-qi-attach{
    background-color: #F0F7FD;
    width: 100%;
    border:1px solid #DDDDDD;
    border-collapse: collapse;
}
.rs-qi-attach td, .rs-qi-attach tr{
    background-color: white;
    border:none;
}

.rs-qi-attach td:nth-child(2){
    width: 4%;
}
.rs-qi-attach td[colspan='5']{
    background-color: #F0F7FD;
}

.rs-history-query{
    width: 100%;
    border-collapse: collapse;
    font: 1.08em Tahoma, sans-serif;
    border: medium none;
    border: 1px solid #DDDDDD;
    margin: 20px 0;
    background-color: #FBFCFF;
    color: black;
    width:100%;
}
.rs-history-query caption{
    width: 25%;
    padding: 5px 0;
}
.rs-history-query font[size='+2']{
    font: 1.08em Tahoma, sans-serif;
}
.rs-history-query .rs-table-header th{
    color: #2A6496;
    font-weight:bold;
    height: 30px;
    text-align: left;
    border: none;
    padding: 5px 15px;
    font: 1.08em Tahoma, sans-serif;
}
.rs-history-query td{
    border:none;
    padding: 5px 15px;
    font: 0.88em Tahoma, sans-serif;
}
.rs-history-query tr{
    border-right: 1px solid #DDDDDD;
}
.rs-history-query td[bgcolor="#00faa9"] {
    background-color: #F0F7FD;
    border: 1px solid #DDDDDD;
    color: #2A6496;
    font-weight:bold;
}
.rs-history-query td[bgcolor="green"]{
    background-color: #F0F7FD;
    text-align: right;
}
.rs-history-query td[bgcolor="#66ff66"]{
    background-color: #F0F7FD;
    border: 1px solid #DDDDDD;
}

.rs-history-query td[bgcolor="red"]{
    background-color: #F0F7FD;
    border-bottom: 1px solid #DDDDDD;

}
.rs-bgcolorF0F7FD{
    background-color: #F0F7FD;
    vertical-align: bottom;

}
.rs-history-query hr{
    display: none;
}
.rs-align-right{
    text-align:right;
    vertical-align: top;
}

.rs-align-left{
    text-align:left;
}
tr.rs-td-button{
    background-color: white;
    border:1px solid white;
}
td.rs-td-button{
    padding:5px 0px;
}
.rs-width245{
    width: 245px;
}

/************ form: information about request END********/
/************ form: creation new query********/

h3.rs-newquery{
    color: #2A6496;
    text-align: center;
    padding: 10px 0;
    display:block;
    background-color:  #F0F7FD;
    margin:0 auto;
    width: 89.9%;
    border: 1px solid #DDDDDD;
    border-bottom: none;
}
.rs-newquery-table{
    width: 90%;
    border-collapse: collapse;
    font: 1.08em Tahoma, sans-serif;
    border: medium none;
    border: 1px solid #DDDDDD;
    margin: 20px 0;
    background-color: #FBFCFF;
    color: black;
    margin: 0 auto;
}
.rs-newquery-table td{
    border:none;
    padding: 5px 15px;
    font: 0.88em Tahoma, sans-serif;
    vertical-align: top;
}

.rs-newquery-table font[color='red']{
    color: #ffa704;
}
.rs-newquery-table i{
    font-style: normal;
}
/************ form: creation new query END********/

/************ form: information about request END********/
/**********************Order list table**************************/
.rs-order-list{
    border-collapse: collapse;
    background-color: #FBFCFF;
    border: 1px solid #DDDDDD;
}
.rs-order-list .rs-table-header td {
    color: #2A6496;
    text-align: left;
    padding: 2px 10px;
}
.rs-order-list td {
    border: medium none;
    padding: 5px 10px;
    border-bottom: 1px solid #EFEFEF;
}

/**********************Order list table end***************************/
.rs-complex-search .rs-table-header {  border-top: 2px solid #DDDDDD;}